<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jola.shengfan.skills">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".picture_in_picture.PictureInPictureActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:supportsPictureInPicture="true" />
        <activity android:name=".picture_in_picture.MediaSessionPlaybackActivity" />
        <activity android:name=".ai.tensor_flow_google.TensorFlowLiteActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jola.shengfan.skills.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".custome_widget.pie.AnimatedPieActivity" />
        <activity android:name=".custome_widget.pie.CustomeWidgetActivity" />
        <activity android:name=".ui_adapter.UiAdapterActivity" />
        <activity android:name=".jetpacket.databinding.DatabindActivity" />
        <activity android:name=".video_playbase.VideoPlayActivity"></activity>
    </application>

</manifest>